.ui .header{
  color: #333;
  font-weight: 400;
}
.ui.segment{
  margin-bottom: 2rem;
}

.caption{
  font-size: 17px;
}
.ui.tabular.menu .active.item{
  font-size: 18px;
}
.ui.tabular.menu .item{
  font-size: 18px;
}